div.repostdialog {
  opacity:0.95;
  visibility: hidden;
  position: absolute;
  background:#388EA6;
  box-shadow:2px 2px 5px #000;
  padding: 7px 10px 7px 10px;
  z-index:99999999;
}
div.repostdialog .label {
    font-family:"Lucida Console", Courier New, monospace;
    margin: 0 5px 0 0 ;
}
