/**
 * repost css.
 * color palette 
 *  9D98E8
 *  C4A7FF
 *  B4C3FF
 *  98BEE8
 *  A7E7FF
 */

/**
 * Fonts 
 */
@font-face { 
    font-family: "Abel"; 
    src: url('chrome-extension://__MSG_@@extension_id__/css/Abel-Regular.ttf');
}

/**
 * Post Table
 */
#repost .postcell {
    background:#B4C3FF;
    border:1px solid #fff;
	width:20%;
}
#repost .fuckoff {
    background:#9D98E8;
}
#repost .rockon {
    background:#A7E7FF;
}
#repost .votehand{
    width:27px;
    position: relative; 
}
#repost .downhand{
    position:absolute;
    bottom:0%;
    left:80%;
    z-index:1;
}
#repost .uphand{
    position:absolute;
    top:0%;
    left:80%;
    z-index:1;
}
#repost div.metric{
    top:30px;
    left:240px;
    position: relative; 
    font-family: 'Abel', Helvetica, Arial, sans-serif;
}

/**
 * Post styles 
 */
#repost .postspace{
    position:relative;
    height: 100%;
    width: 100%;
	text-align:center;
 }

#repost div.imagepost {
	text-align:center;
	top: 0px;
    width:100%;
    height:100%;    
}
#repost .imagepreview{
    top: 0px;
    max-width:100%;
    max-height:100%;    
	vertical-align:middle;
}
#repost div.posttextbody{
    position: absolute;
    font-size: 75%;
    top: 30px;
    left: 10px;
    max-width:180px;
    font-family: 'Abel', Helvetica, Arial, sans-serif;
    word-wrap: break-word;
}
#repost .textpostcaption{
    position: absolute;
    top: 10px;
    left: 10px;
}
#repost div.postcaption{
    font-family: 'Abel', Helvetica, Arial, sans-serif;
}
#repost .imagepostcaption{
    position:absolute;
    top: 140px;
    left: 12px;
    height: 35px;
    overflow: hidden;
}
#repost .imagepostcaption:hover{
    overflow: visible;
    z-index:9999;
}

/**
 * Repost commons
 */
#repost span.name {
      cursor: pointer;
}

/**
 * Floating Boxes
 */
/* Add Account Dialog */
#repost .confirmation.accountaddbox#rpdialog {
    width: 210px;
    height: 205px;
}
#repost .confirmation.accountaddbox#rpdialog .title{
    font-size: x-large;
}
#repost .confirmation.accountaddbox#rpdialog .ok{
    top: 180px;
    left: 10px;
}
#repost .confirmation.accountaddbox#rpdialog .cancel{
    top: 180px;
    left: 110px;
}
#repost .confirmation.accountaddbox#rpdialog input.username{
    width: 200px;
}
#repost .confirmation.accountaddbox#rpdialog input.password{
    width: 200px;
}
/* Add Link Dialog */
#repost .confirmation.linkaddbox#rpdialog {
    width: 210px;
    height: 110px;
}
#repost .confirmation.linkaddbox#rpdialog .title{
    font-size: x-large;
}
#repost .confirmation.linkaddbox#rpdialog .ok{
    top: 90px;
    left: 10px;
}
#repost .confirmation.linkaddbox#rpdialog .cancel{
    top: 90px;
    left: 110px;
}
#repost .confirmation.linkaddbox#rpdialog input.linkinput{
    width: 200px;
}
/* Remove Link Dialog */
#repost .confirmation.linkremover#rpdialog {
    width: 210px;
    height: 90px;
}
#repost .confirmation.linkremover#rpdialog .title{
    font-size: x-large;
}
#repost .confirmation.linkremover#rpdialog .ok{
    top: 70px;
    left: 10px;
}
#repost .confirmation.linkremover#rpdialog .cancel{
    top: 70px;
    left: 110px;
}
#repost .confirmation.linkremover#rpdialog input.linkinput{
    width: 200px;
}
/* rpdialog submenu */
#repost #rpdialog div.menuopt{
		cursor: pointer;
}
#repost #rpdialog div.menuopt:hover{
    background:#777777;
}
/**
 * Links
 */
/*TOOLTIPS*/
#repost .tip {
    font-family: 'Abel', Helvetica, Arial, sans-serif;
    text-align: left;
    width:auto;
    max-width:500px;
    z-index:1000;
}
#repost .tip-title {
    font-family: 'Abel', Helvetica, Arial, sans-serif;
    font-size: 11px;
    text-align:center;
    margin-bottom:2px;
    z-index:1000;
}
#repost .linkbox{
  top: 10%;
  height: 80%;
  left: 10%;
  width: 80%;
 }
#repost #infovis{
    opacity:1;
    margin: auto;
    top: 1%;
    height: 98%;
    left: 1%;
    width: 98%;
}
#repost caption{
    position: absolute;
    left:10px;
    top:20px;
    margin: 15px 5px 15px 0px;
}
#repost .captioninput{
    position: absolute;
    left:100px;
    top:20px;
    margin: 15px 5px 15px 0px;
}
#repost .content{
    position:absolute;
    left:10px;
    top:50px;
    margin: 15px 5px 15px 0px;
}
#repost .contentinput{
    position:absolute;
    left:100px;
    top:50px;
    margin: 15px 5px 15px 0px;
}
#repost .sendtext{
    position:absolute;
    left:150px;
    top:110px;
    width:130px;
}
#repost .contenttext{
}

/**
 * Post table
 */
#repost div.divtable {
    top:65px;
    left:10%;
    width:80%;
    height:430px;
}
#repost div.divtable .post{
	float:left;
    height: 150px;
    width: 76px;
	text-align:center;
}  
#repost div.divtable .post .postmask{
    background-color:#000;
    opacity:0.8;
    z-index:9000;
}
#repost #divtable div.divrow {
	width:100%;
    height:25%;
    margin: 0px;
    left:0px;
    position:absolute;
}
#repost #divtable div.divcol {
	position:absolute;
	text-align:center;
    height: 100%;
}
#repost #divtable #divRow0 {
    top:0%;
}
#repost #divtable #divRow1 {
    top:25%;
}
#repost #divtable #divRow2 {
    top:50%;
}
#repost #divtable #divRow3 {
    top:75%;
}
#repost #divtable .divCol0 {
	width:20%;
}
#repost #divtable .divCol1 {
    left:30%;
	width:20%;
}
#repost #divtable .divCol2 {
    left:55%;
	width:20%;
}
#repost #divtable .divCol3 {
    left:80%;
	width:20%;
}

/**
 * Menu Bar
 */
#repost #repostMenu {
    position: fixed;
    top: 0px;
    left: 10%;
    width: 80%;
    height: 50px;
}
#repost #repostMenu .statusCircle {
    width: 10px;
    height: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: #FC4023;
}
#repost #repostMenu #repostLogo {
    float: left;
    margin: 0px;
}
#repost #repostMenu .toolbar {
    margin: 0px;
}
#repost #repostMenu .toolbar li {
    display: inline;
    padding: 0.5em;
    padding: 0.5em;
    float: right;
}
#repost #repostMenu .toolbar li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #757575;
    font-family: 'Abel', Helvetica, Arial, sans-serif;
    font-size: 20px;
}

/**
 * General Settings
 */
#repost {
}
body {
     -khtml-user-select: none; /* webkit browsers */
    background: #ececec;
}
#repost #mask {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:#000;
    opacity:0.8;
    z-index:9000;
}
