/**
 * repost css.
 * color palette 
 *  9D98E8
 *  C4A7FF
 *  B4C3FF
 *  98BEE8
 *  A7E7FF
 */

/**
 * Fonts 
 */
@font-face { 
    font-family: "Abel"; 
    src: url('chrome-extension://__MSG_@@extension_id__/css/Abel-Regular.ttf');
}

/**
 * Post Table
 */
.postcell {
    background:#B4C3FF;
    border:1px solid #fff;
	width:20%;
}
.fuckoff {
    background:#9D98E8;
}
.rockon {
    background:#A7E7FF;
}
#repost .votehand{
    width:27px;
    position: relative; 
}
#repost .downhand{
    position:absolute;
    bottom:0%;
    left:80%;
    z-index:1;
}
#repost .uphand{
    position:absolute;
    top:0%;
    left:80%;
    z-index:1;
}
#repost div.metric{
    top:30px;
    left:240px;
    position: relative; 
    font-family: 'Abel', Helvetica, Arial, sans-serif;
}

/**
 * Post styles 
 */
 .postspace{
    position:relative;
    height: 100%;
    width: 100%;
	text-align:center;
 }
.post{
    position:absolute;
    left:0px;
    top:0px;
    height: 100%;
    width: 100%;
	text-align:center;
 }

div.imagepost {
	text-align:center;
	float:left;
	top: 0px;
    width:100%;
    height:100%;    
}

.imagepreview{
    top: 0px;
    max-width:100%;
    max-height:100%;    
	vertical-align:middle;
}
div.posttextbody{
    position: absolute;
    font-size: 75%;
    top: 30px;
    left: 10px;
    max-width:180px;
    font-family: 'Abel', Helvetica, Arial, sans-serif;
    word-wrap: break-word;
}
.textpostcaption{
    position: absolute;
    top: 10px;
    left: 10px;
}
div.postcaption{
    font-family: 'Abel', Helvetica, Arial, sans-serif;
}
.imagepostcaption{
    position:absolute;
    top: 140px;
    left: 12px;
    height: 35px;
    overflow: hidden;
}
.imagepostcaption:hover{
    overflow: visible;
    z-index:9999;
}

/**
 * Repost commons
 */
span.name {
      cursor: pointer;
}

/**
 * Floating Boxes
 */
#repost div#rpdialog{
    opacity:0.95;
    position: absolute;
    background:#ececec;
    box-shadow:2px 2px 5px #000;
    padding: 7px 10px 7px 10px;
    z-index: 8999;
    font-family: 'Abel', Helvetica, Arial, sans-serif;
}
#repost #rpdialog label{
    font-family: 'Abel', Helvetica, Arial, sans-serif;
    margin: 0 5px 0 0 ;
}
#repost #rpdialog img.floatclose {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 7px;
    z-index: 999;
    height: 20px;
    width: 20px;
}
/* Single Field Popup */
#repost .singlefield#rpdialog{
    width: 280px;
    height: 90px;
}
#repost .singlefield#rpdialog .ok{
    position: absolute;
    top: 70px;
    left: 120px;
    width: 70px;
}
#repost .singlefield#rpdialog .cancel{
    position: absolute;
    top: 70px;
    left: 200px;
    width: 70px;
}
#repost .singlefield#rpdialog .inputbox{
    position:absolute;
    top: 25px;
    left: 15px;
    width: 250px;
    margin: 15px 5px 15px 0px;
}
/* Confirmation Popup */
#repost .confirmation#rpdialog{
    width: 250px;
    height: 70px;
}
#repost .confirmation#rpdialog .message{
    position:absolute;
    left:10px;
    top:10px;
}
#repost .confirmation#rpdialog .ok{
    position: absolute;
    top: 50px;
    left: 30px;
    width: 90px;
}
#repost .confirmation#rpdialog .cancel{
    position: absolute;
    top: 50px;
    left: 140px;
    width: 90px;
}
/**
 * Links
 */
/*TOOLTIPS*/
#repost .tip {
    font-family: 'Abel', Helvetica, Arial, sans-serif;
    text-align: left;
    width:auto;
    max-width:500px;
    z-index:1000;
}
#repost .tip-title {
    font-family: 'Abel', Helvetica, Arial, sans-serif;
    font-size: 11px;
    text-align:center;
    margin-bottom:2px;
    z-index:1000;
}
#repost .linkbox{
  top: 10%;
  height: 80%;
  left: 10%;
  width: 80%;
 }
#repost #infovis{
    opacity:1;
    margin: auto;
    top: 1%;
    height: 98%;
    left: 1%;
    width: 98%;
}
#repost caption{
    position: absolute;
    left:10px;
    top:20px;
    margin: 15px 5px 15px 0px;
}
.captioninput{
    position: absolute;
    left:100px;
    top:20px;
    margin: 15px 5px 15px 0px;
}
.content{
    position:absolute;
    left:10px;
    top:50px;
    margin: 15px 5px 15px 0px;
}
.contentinput{
    position:absolute;
    left:100px;
    top:50px;
    margin: 15px 5px 15px 0px;
}
.sendtext{
    position:absolute;
    left:150px;
    top:110px;
    width:130px;
}
.contenttext{
}

/**
 * Post table
 */
#repost #divtable {
    top:65px;
    left:10%;
    width:80%;
    height:100%;
	position:fixed;
}
#repost #divtable div.divrow {
	width:100%;
    height:25%;
    margin: 0px;
    left:0px;
}
#repost #divtable div.divcol {
	position:relative;
	text-align:center;
}
#repost #divtable #divRow0 {
    top:0%;
}
#repost #divtable #divRow1 {
    top:25%;
}
#repost #divtable #divRow2 {
    top:50%;
}
#repost #divtable #divRow3 {
    top:75%;
}
#repost #divtable .divCol0 {
	width:20%;
}
#repost #divtable .divCol1 {
    left:30%;
	width:20%;
}
#repost #divtable .divCol2 {
    left:55%;
	width:20%;
}
#repost #divtable .divCol3 {
    left:80%;
	width:20%;
}

/**
 * Menu Bar
 */
#repost #repostMenu {
    position: fixed;
    top: 0px;
    left: 10%;
    width: 80%;
    height: 50px;
}
#repost #repostMenu .statusCircle {
    width: 10px;
    height: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: #FC4023;
}
#repost #repostMenu #repostLogo {
    float: left;
    margin: 0px;
}
#repost #repostMenu .toolbar {
    margin: 0px;
}
#repost #repostMenu .toolbar li {
    display: inline;
    padding: 0.5em;
    padding: 0.5em;
    float: right;
}
#repost #repostMenu .toolbar li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #757575;
    font-family: 'Abel', Helvetica, Arial, sans-serif;
    font-size: 20px;
}

/**
 * General Settings
 */
#repost {
}
body {
    background: #ececec;
}
#mask {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:#000;
    opacity:0.8;
    z-index:9000;
}
