div.repostdialog {
  visibility: hidden;
  position: absolute;
  background:-webkit-gradient(linear, left top, left bottom, from(#B4C3FF), to(#075698));
  border-radius:15px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow:1px 1px 5px #000;
  box-shadow:1px 1px 5px #000;
  padding: 7px 10px 7px 10px;
  z-index:99999999;
}
div.label {
    margin: 0 5px 0 0 ;
}
