.imgdialog {
  visibility: hidden;
  position: absolute;
  background:-webkit-gradient(linear, left top, left bottom, from(#2e88c4), to(#075698));
  border-radius:15px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow:1px 1px 5px #000;
  box-shadow:1px 1px 5px #000;
}

