/* 

	TableCloth	
	by Alen Grakalic, brought to you by cssglobe.com
	
*/

/* general styles */

table{border-collapse:collapse;margin:1em 0;}

/* tablecloth styles */
td.postcell {
    padding:5px;
    background:#e5f1f4;
    border:1px solid #fff;
    width:250px;
    height:150px;
}
td.fuckoff {
    padding:5px;
    background:#6A94D4;
    border:1px solid #fff;
    width:250px;
    height:150px;
    border:1px solid #fff;
}
td.rockon {
    padding:5px;
    background:#FFb273;
    border:1px solid #fff;
    width:250px;
    height:150px;
}

/* post styles */
img.smallpost{
    width:150px;
    position:relative;
    bottom:10px;
    left:10px;
}
img.bigpost{width:300px;}

img.votehand{width:30px;
    width:30px;
    float:right; 
    margin: 0 0 15px 15px; 
    clear:right
}

div.zoomer{
    position: absolute;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: white;
    -moz-box-shadow:1px 1px 5px #000;
    -webkit-box-shadow:1px 1px 5px #000;
    box-shadow:1px 1px 5px #000;
}
