/**
 * repost css.
 * color palette 
 *  9D98E8
 *  C4A7FF
 *  B4C3FF
 *  98BEE8
 *  A7E7FF
 */

/**
 * Post Table
 */
table{
    border-collapse:collapse;
    margin:1em 0;
    table-layout: fixed;
}

.postcell {
    background:#B4C3FF;
    border:1px solid #fff;
	width:20%;
}
.fuckoff {
    background:#9D98E8;
}
.rockon {
    background:#A7E7FF;
}
.votehand{
    width:27px;
    position: relative; 
}
.downhand{
    top:40px;
    left:240px;
}
.uphand{
    top:20px;
    left:240px;
}
div.metric{
    top:30px;
    left:240px;
    position: relative; 
    font-family:"Lucida Console", Courier New, monospace;
}

/**
 * Post styles 
 */
 .postspace{
    position:relative;
    height: 100%;
    width: 100%;
	/*
    height: 180px;
    width: 280px;
	*/
 }
.post{
    position:absolute;
    left:0px;
    top:0px;
    height: 100%;
    width: 100%;
 }
.imagepost{
}
.imagepreview{
    position:absolute;
    top:0px;
    left:0px;
    max-width:100%;
    max-height:100%;    
}
/*
.imagepreview:hover{
    background:#388EA6;
    box-shadow:2px 2px 5px #000;
    padding: 7px 10px 7px 10px;
    max-width:600px;
    max-height:400px;    
    z-index:9999;
	left:0%;
	top:0%;
}
*/
div.posttextbody{
    position: absolute;
    font-size: 75%;
    top: 30px;
    left: 10px;
    max-width:180px;
    font-family:"Lucida Console", Courier New, monospace;
    word-wrap: break-word;
}
.textpostcaption{
    position: absolute;
    top: 10px;
    left: 10px;
}
div.postcaption{
    font-family:"Lucida Console", Courier New, monospace;
}
.imagepostcaption{
    position:absolute;
    top: 140px;
    left: 12px;
    height: 35px;
    overflow: hidden;
}
.imagepostcaption:hover{
    overflow: visible;
    z-index:9999;
}
/**
 * Generic floating box
 */
div.floater {
  opacity:0.95;
  visibility: hidden;
  position: fixed;
  background:#388EA6;
  box-shadow:2px 2px 5px #000;
  padding: 7px 10px 7px 10px;
}
.floatclose {
    font-size: 150%;
    color:#000;
    cursor:pointer;
    font-weight:bold;
    font-family:"Lucida Console", Courier New, monospace;
    position: absolute;
    top: 5px;
    right: 7px;
    z-index:99999999;
}

/**
 * Post input styles
 */
.textpostbox{
  top:50px;
  left: 300px;
  width: 300px;
  height: 150px;
 }
.caption{
    font-family:"Lucida Console", Courier New, monospace;
    position: absolute;
    left:10px;
    top:20px;
    margin: 15px 5px 15px 0px;
}
.captioninput{
    position: absolute;
    left:100px;
    top:20px;
    margin: 15px 5px 15px 0px;
}
.content{
    font-family:"Lucida Console", Courier New, monospace;
    position:absolute;
    left:10px;
    top:50px;
    margin: 15px 5px 15px 0px;
}
.contentinput{
    position:absolute;
    left:100px;
    top:50px;
    margin: 15px 5px 15px 0px;
}
.sendtext{
    font-family:"Lucida Console", Courier New, monospace;
    position:absolute;
    left:150px;
    top:110px;
    width:130px;
}


/**
 * Repost commons
 */
/* Confirmation Popup */
.confirmationPopup{
  width: 250px;
  height: 70px;
}
.message{
    font-family:"Lucida Console", Courier New, monospace;
    position:absolute;
    left:10px;
    top:10px;
}
.ok{
    position: absolute;
    top: 50px;
    left: 30px;
    width: 90px;
}
.cancel{
    position: absolute;
    top: 50px;
    left: 140px;
    width: 90px;
}
span.name {
      cursor: pointer;
}
/* Single Field Popup */
.singleFieldPopup{
  width: 280px;
  height: 90px;
}
.singleFieldPopup > .ok{
    position: absolute;
    top: 70px;
    left: 120px;
    width: 70px;
}
.singleFieldPopup > .cancel{
    position: absolute;
    top: 70px;
    left: 200px;
    width: 70px;
}
.singleFieldPopup > .inputbox{
    position:absolute;
    top: 25px;
    left: 15px;
    width: 250px;
    margin: 15px 5px 15px 0px;
}

/**
 * Links
 */
/*TOOLTIPS*/
.tip {
    text-align: left;
    width:auto;
    max-width:500px;
}

.tip-title {
    font-size: 11px;
    text-align:center;
    margin-bottom:2px;
}

.linkbox{
  top: 50px;
  left: 50px;
  width: 600px;
  height: 420px;
 }

.infovis{
    opacity:1;
    margin: 15px 15px 15px 15px;
    height: 400px;
    width: 600px;
}

.caption{
    position: absolute;
    left:10px;
    top:20px;
    margin: 15px 5px 15px 0px;
}
.captioninput{
    position: absolute;
    left:100px;
    top:20px;
    margin: 15px 5px 15px 0px;
}
.content{
    position:absolute;
    left:10px;
    top:50px;
    margin: 15px 5px 15px 0px;
}
.contentinput{
    position:absolute;
    left:100px;
    top:50px;
    margin: 15px 5px 15px 0px;
}
.sendtext{
    position:absolute;
    left:150px;
    top:110px;
    width:130px;
}
.contenttext{
}

.divrow {
	position:absolute;
	width:100%;
}

.divcol {
	position:absolute;
    background:#B4C3FF;
    height:100%;
}

#divRow0 {
    top:10%;
    height:20%;
}
#divRow1 {
    top:30%;
    height:20%;
}
#divRow2 {
    top:50%;
    height:20%;
}
#divRow3 {
    top:70%;
    height:20%;
}

.divCol0 {
    left:10%;
	width:20%;
}
.divCol1 {
    left:30%;
	width:20%;
}
.divCol2 {
    left:50%;
	width:20%;
}
.divCol3 {
    left:70%;
	width:20%;
}
